<?xml version="1.0"?>
<!--
  NOTE: User and query level settings are set up in "users.xml" file.
  If you have accidentally specified user-level settings here, server won't start.
  You can either move the settings to the right place inside "users.xml" file
   or add <skip_check_for_incorrect_settings>1</skip_check_for_incorrect_settings> here.
-->
<yandex>
    <logger>
        <!-- Possible levels: https://github.com/pocoproject/poco/blob/poco-1.9.4-release/Foundation/include/Poco/Logger.h#L105 -->
        <level>trace</level>
        <log>./logs/clickhouse-service.log</log>
        <errorlog>./logs/clickhouse-service.err.log</errorlog>
        <!-- Rotation policy
             See https://github.com/pocoproject/poco/blob/poco-1.9.4-release/Foundation/include/Poco/FileChannel.h#L54-L85
          -->
        <size>100M</size>
        <count>10</count>
        <console>true</console>
        <!-- <console>1</console> --> <!-- Default behavior is autodetection (log to console if not daemon mode and is tty) -->
    </logger>

    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>

    <service>
        <my_id>{id}</my_id>
        <host>{host}</host>
        <log_dir>./data/logs</log_dir>
        <snapshot_dir>./data/snapshots</snapshot_dir>
        <snapshot_start_time>7200</snapshot_start_time>
        <snapshot_create_interval>10000</snapshot_create_interval>
        <raft_grpc_port>5101</raft_grpc_port>
        <service_port>5102</service_port>
        <internal_port>5103</internal_port>
        <thread_count>4</thread_count>
        <coordination_settings>
            <raft_logs_level>debug</raft_logs_level>
            <nuraft_thread_size>4</nuraft_thread_size>
            <session_timeout_ms>30000</session_timeout_ms>
            <operation_timeout_ms>20000</operation_timeout_ms>
        </coordination_settings>

        <remote_servers>
            <server>
                <server_id>1</server_id>
                <host>{srv1}</host>
                <!-- internal_port -->
                <port>5103</port>
            </server>
            <server>
                <server_id>2</server_id>
                <host>{srv2}</host>
                <port>5103</port>
            </server>
            <server>
                <server_id>3</server_id>
                <host>{srv3}</host>
                <port>5103</port>
            </server>
            <server>
                <server_id>4</server_id>
                <host>{srv4}</host>
                <port>5103</port>
            </server>
            <server>
                <server_id>5</server_id>
                <host>{srv5}</host>
                <port>5103</port>
            </server>
            <async_replication>false</async_replication>
        </remote_servers>
    </service>
</yandex>
