# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/C++.gitlab-ci.yml

stages:
  - build and test

build and test:
  stage: build and test
  tags:
    - "test"
  script:
    - git submodule sync
    - git submodule update --init --recursive

    - export CC=clang-11
    - export CXX=clang++-11

    - mkdir build
    - cd build
    - export build_dir=`pwd`
    - echo "build dir is $build_dir"
    - cmake ..
    - ninja
    - echo "Build success!"

    - ./src/unit_tests_dbms
    - echo "Unit test finished."

    - echo "Start integration tests"
    - cd ../tests/integration
    - export integration_work_dir=`pwd`
    - export CLICKHOUSE_TESTS_ODBC_BRIDGE_BIN_PATH=$build_dir/programs/clickhouse-odbc-bridge
    - export CLICKHOUSE_TESTS_SERVER_BIN_PATH=$build_dir/programs/clickhouse
    - export CLICKHOUSE_TESTS_CLIENT_BIN_PATH=$build_dir/programs/clickhouse
    - export CLICKHOUSE_TESTS_BASE_CONFIG_DIR=$build_dir/../programs/service
    - ./runner 'test_servicekeeper_back_to_back -ss'
    - rm -r __pycache__ .pytest_cache/
    - ./runner 'test_servicekeeper_multinode_ch_cluster -ss'
    - rm -r __pycache__ .pytest_cache/
    - ./runner 'test_servicekeeper_multinode_simple -ss'
    - rm -r __pycache__ .pytest_cache/
    - echo "Integration test finished."
