name: check-style

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  check-style:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install tools
        run: sudo apt install -y shellcheck libxml2-utils git python3-pip pylint yamllint && pip3 install codespell

      - name: Check style
        working-directory: ${{github.workspace}}/tests/ci
        run: python3 code_style_check.py
